/*
body {
  width:100%;
  position:; 
  left:0;
  background-color: #E8E8E8;
}
*/
 #wrapper{
    width:100%;
    height:800px;
 }

/*------- Introduction ----*/
.background_image {
    display:none;
    width:100%;
    max-height:800px;
    position:absolute;
}

.background_image img{
    object-fit:cover;
    -webkit-filter:blur(5px);
    height:800px;
    z-index:-1;
}


.overlay{
    position:absolute;
    width:100%;
    height:800px;
    background-color:black;
    opacity:0.4 ;
    z-index:1;
    display:none;
}


#pop-up{
    display:flex;
    z-index:5;
    margin-left:500px;
    background-color: #FFFFFF;
    height:1px;
    width:450px;
    display:none;
    bottom:300px;
    position:absolute;
    z-index:10; 

}

.intro {
    width:160px;
    height:80px;
    margin-top:60px;
    margin-left:auto;
    margin-right:auto;
    display:none;
}

#pop-up h1{
    position:absolute;
    position:;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color:#202020;
    font-size:15px;
    letter-spacing:3px;
    z-index:5;
    display:flex;
    width:0px;
    margin-left:31px;
    margin-right:;
    margin-top:0px;
    cursor: pointer;
    transition: 0.5s ease;
    border-bottom-style:solid;
    border-bottom-width:1.5px;
    border-bottom-color:transparent;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 1.3s ease-out;
    -o-transition: all 1.3s ease-out;
    transition: all 0.3s ease-out;
}

#pop-up h1:hover {
    width:98px;
    border-bottom-color:#404040;
    border-bottom-width:1.5px;
    border-bottom-style:solid;
    transition: all 0.3s ease-out;

}


#pop-up h2{
    height:50px;
    margin-top:20px;
    margin-left:7.5px;
}

#pop-up h3{
    margin-top:43px;
    margin-left:3.8px;

}


.subtitle{
    position:absolute;
    font-family:  'Slabo 27px', serif;
    font-weight: 400;
    letter-spacing:1px;
    color:#707070;
    font-size:15px;
    transition:all 6000 ease-in-out;
    display:flex;
    z-index:5;
    padding-top:15px;
    margin-left:6px;
    height:;

}


/* ------------  SLideshow -------- */

.intro_slides{
    display:none;
    width:100%;
    max-height:800px;
    position:absolute;
    overflow:hidden;
}

.intro_slides .my_slides {
    object-fit:cover;
    height:800px;
    z-index:-1;
}



/* ------------ title after load -------- */

.intro_2{
    display:none;
}


.intro_2 h1 {
    display:flex;
    position:absolute;
    width:10%;
    margin-left:46%;
    margin-top:350px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    color:white;
    font-size:18px;
    letter-spacing:4px;
    z-index:10;
    
}

.intro_2 h2 {
    display:flex;
    position:absolute;
    width:30%;
    margin-left:38%;
    margin-top:385px;
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
    letter-spacing:2px;
    color:#D0D0D0;
    font-size:15px;
    z-index:10;
}

 /* ------------- NAVIGATION ------------*/

 /* ----------- navigation to pages --------*/

.nav_navigation {
    position: absolute;
    display:inline-flex;
    z-index:10;
    margin-left:44px;
    margin-top:44%;
    bottom:0;
    display:;
}


.nav_navigation .nav_city{
    font-family: 'exo 2', sans-serif;   
    font-size:25px;
    color:#D0D0D0;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform:uppercase;
    margin-left:200px;
    display:none;
    margin-bottom:100px;
    cursor:pointer;
    text-decoration: none;

}

.nav_navigation a,
.nav_city a{
    text-decoration: none;
}


 /* ------------ Social networking icons ------------ */
.nav_icon{
    position: absolute;
    z-index:10;
    display:inline-flex;
    margin-left:78%;
    margin-top: 50px;
    display:;
}

.nav_icon a{
    text-decoration: none;
}

.about_icon{
    font-family:'Slabo 27px', serif;
    font-weight: 100;
    letter-spacing:1px;
    color:#D0D0D0;
    font-size:13px;
    border-style:solid;
    border-color:#D0D0D0;
    border-width:0.5px;
    border-right-width:0px;
    padding:19.5px;
    display:none;
}   


.fa-facebook {
    color:#D0D0D0;
    border-style:solid;
    border-color:#D0D0D0;
    border-width:0.5px;
    padding:20px;
    display:none;
}

.fa-envelope-o,
.fa-instagram{
    color:#D0D0D0;
    border-style:solid;
    border-color:#D0D0D0;
    border-width:0.5px;
    border-right-width:0px;
    padding:20px;
    display:none;

}




/* ------ Navigation and icons on H O V E R ---------- */


.nav_navigation .nav_city:hover,
.fa-facebook:hover,
.fa-envelope-o:hover,
.fa-instagram:hover,
.about_icon:hover{
    color:#F0F0F0;
}


