html {
  box-sizing: border-box;
}

* {
	padding:0;
	margin:0;
}

img {
	width:100%;
	/* We want the width to be 100% of the element its inside */
	margin: 0 auto;
	/*We set margin 0 auto on it, to always center it*/
}

.hero_dashboard img {
    object-fit: cover;
    width: 100%;
    height: 45%;
}
.navbar_dashboard {
    margin-top: 0px;
}

.search .fa-search {
    font-size: 20px;
    padding-left: 5px;
}

.review_form {
    display: none;
}

.reviews {
    width: 70%;
    margin-left: 15%;
}
.reviews h4 {
    font-style: italic;
    border-bottom: solid 1px #cccccc;
    width: 90%;
    padding-bottom: 3px;
    margin-left: 2%;
}

.reviews h5 {
    padding-left: 20px;
    padding-top: 5px;
}

.reviews p {
    font-style: italic;
    padding-left: 20px;
}

.fa-times {
    font-size: 15px;
    float: right;
    cursor: pointer;
}

.hidden-form {
    display: none;
}

.well {
    overflow: hidden;
}

.inline {
    display: inline;
}

.trash {
    border: none;
    background: transparent;
    margin-left: 5px;
    font-size: 16px;
}

.trash:hover {
    color: red;
}

.spaced-list {
    margin-bottom: 10px;
}

.btn {
    margin-top: 5px;
}

/* ---------- ads -------------- */
.grid {
	margin-top:0px;
}

.grid h1 {
    font-style: italic;
    padding-top: 50px;
    padding-bottom: 40px;
}

.cover-image{
	margin-top:0px;
	width:33.33%;
	height:30vh;
	position: ;
	display:flex;
	background:rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.cover-image:hover {
	background:rgba(0, 0, 0, 0);
}


.cover-image:nth-child(1),
.cover-image:nth-child(3){
	float:left;
}
.cover-image:nth-child(2),
.cover-image:nth-child(4){
	float:right;
}

.cover-image img{
	position:;
	display:flex;
	object-fit:cover;
	z-index:-1;
}

.cover-image h3 {
    font-family: 'Playfair Display', serif;
	font-weight: 900;
	color: #ecf0f1;
	font-size: 35px;
    position: absolute;
    z-index: 4;
    margin-top: 23vh;
    padding-left: 20px;
}

.ads {
    padding-bottom: 70px;
}
