.hero_dashboard img {
    object-fit: cover;
    width: 100%;
    height: 45%;
}

.navbar_dashboard {
    margin-top: 0px;
}

.hidden-form {
    display: none;
}

.title {
    font-size: 25px;
}

.search-bar {
    border: none;
    background: transparent;
    box-shadow: none;
}

.search-bar:focus {
    outline: 0px !important;
}

.magnifying {
    margin-top: 2px;
}

.magnifying button {
    border: none;
    background: transparent;
    font-size: 18px;
}

.magnifying:hover {
    color: #428bca;
}

.fa-plus {
    font-size: 18px;
}

.review_form {
    display: none;
}

.reviews {
    width: 70%;
    margin-left: 15%;
}
.reviews h4 {
    font-style: italic;
    border-bottom: solid 1px #cccccc;
    width: 90%;
    padding-bottom: 3px;
    margin-left: 2%;
}

.reviews h5 {
    padding-left: 20px;
    padding-top: 5px;
}

.reviews p {
    font-style: italic;
    padding-left: 20px;
}

.fa-times {
    font-size: 15px;
    float: right;
    cursor: pointer;
}

.hidden-form {
    display: none;
}

.well {
    overflow: hidden;
}

.inline {
    display: inline;
}

.trash {
    border: none;
    background: transparent;
    margin-left: 5px;
    font-size: 16px;
}

.trash:hover {
    color: red;
}

.spaced-list {
    margin-bottom: 10px;
}

.btn {
    margin-top: 5px;
}
