html {
  box-sizing: border-box;
}

* {
	padding:0;
	margin:0;
}

body {
    background: #f2f2f2;
}

img {
	width:100%;
	/* We want the width to be 100% of the element its inside */
	margin: 0 auto;
	/*We set margin 0 auto on it, to always center it*/
}

.well {
    background: white;
    border-radius: 0;
}

.form-control, .btn {
    border-radius: 0;
}

.btn-info, .btn-info:focus, .btn-info:active, .btn-info.active {
    background: #194066;
    color: white;
    border: none;
}

.btn-info:hover {
    background: #1e4d7b;
    color: white;
    border: none;
}

.intro-paragraph {
    height: 250px;
    border-bottom: 2px solid #d9d9d9;
}

.intro-paragraph p {
    padding-top: 5%;
    font-family: 'Arapey', serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    color: #484848;
}
/* --------main topbar with image and navigation--------- */

.navbar {
    background: white;
}

.hero_dashboard {
    height: 400px;
    width: 100%;
    background: url('/../assets/img/pic.jpeg') center center no-repeat;
    background-size: cover;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    color: white;
    margin-top: -20px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar_dashboard {
    margin-top: 0px;
}

.navbar-brand {
    font-size: 25px;
}

.search-bar {
    border: none;
    background: transparent;
    box-shadow: none;
}

.magnifying button {
    border: none;
    background: transparent;
    font-size: 18px;
}

.magnifying:hover {
    color: #428bca;
}

.account-menu {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    opacity: 0.9;
}

.login-btn {
    width: 100%;
    margin-top: 5px;
}

.username-form {
    margin-bottom: 5px;
}

#nav-plus {
    width: 16px;
    margin-top: -5px;
}

    /* --------------- DASHBOARD ---------------*/
.sidebar-active, .sidebar:hover {
    border-bottom: 2px solid #428bca;
    padding-bottom: 5px;
}

.nav-pills {
    margin-top: 50px;
    border-right: 1px solid #d9d9d9;
}

.nav-pills li a:hover {
    background: transparent;
}

.user-pic {
    width: 150px;
    border: 2px solid #000;
    padding: 10px 0;
    border-radius: 5px;
}

.user-edit-button {
    width: 18px;
    margin-top: -5px;
}

.user-edit-button:hover {
    color: #194066;
}

.rate-review {
    margin-top: 15px;
}

.rating-label {
    margin-right: 5px;
}

.rating-radio {
    display: none;
}

.rating-form-label {
    padding-left: 0;
}

.fa-times:hover {
    font-size: 18px;
}

/* ---- index.html.twig initial links (plan a trip, browse)  */
.index-links {
    width: 100%;
    height: 250px;
    border-bottom: 2px solid #d9d9d9;
}

.index-links .links {
    padding-top: 5%;
}

/* ---- city.html.twig  */
.user-pic-small {
    width: 75px;
    border: 2px solid #000;
    padding: 5px 0;
    border-radius: 5px;
}

.review-well {
    padding-bottom: 0;
}

img.star-rating {
    display: inline;
    width: 20px;
    margin-top: -8px;
}

span.star-rating {
    font-size: 20px;
    margin-left: 5px;
}

.city-pic {
    width: 175px;
    border: 4px solid #000;
    border-radius: 5px;
    padding: 5px;
}

/* ---------- ads (inc/ads.html) -------------- */
.ads {
    padding-bottom: 70px;
    border-bottom: 2px solid #d9d9d9;
    padding-top: 5%;
}
.ads:last-child {
    border-bottom: none;
}
.ads h1 {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
}

.cover-image {
    margin-top: 0px;
    width: 33.33%;
    height: 30vh;
    display: flex;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.cover-image:hover {
    background: rgba(0, 0, 0, 0);
}

.cover-image:nth-child(1),
.cover-image:nth-child(3) {
    float: left;
}

.cover-image:nth-child(2),
.cover-image:nth-child(4){
    float: right;
}

.cover-image img {
    display: flex;
    object-fit: cover;
    z-index: -1;
}

.cover-image h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: #ecf0f1;
    font-size: 30px;
    position: absolute;
    z-index: 4;
    margin-top: 23vh;
    padding-left: 20px;
}

/* ------ search results ------- */

.main-search {
    padding: 10px 0;
    background: #595959;
    margin-top: -20px;
}
.search-bar-main {
    background: transparent;
    border: none;
    box-shadow: none;
    color: white;
}

.magnifying-main {
    border: none;
    background: transparent;
    font-size: 25px;
    color: #777;
}

/* ------- Delete city buttons (cities class)------ */
.trash, .centered {
    border: none;
    background: transparent;
    margin-left: 5px;
    font-size: 16px;
}

.centered {
    margin-left: 35%;
}

.trash:hover {
    color: red;
}

/*.trash-center {
    border: none;
    background: transparent;
    text-align: center;;
    font-size: 16px;
}*/

.spaced-list {
    margin-bottom: 10px;
}

.btn {
    margin-top: 5px;
}

.well {
    overflow: hidden;
}

.inline {
    display: inline;
}

/* --------- review form and see reviews (trip.html.twig) ----------- */
.review_form,
.add_activity_form {
    display: none;
}

.fa-times {
    font-size: 15px;
    float: right;
    cursor: pointer;
}

.reviews {
    width: 70%;
    margin-left: 15%;
}

.reviews h4 {
    font-style: italic;
    border-bottom: solid 1px #cccccc;
    width: 90%;
    padding-bottom: 3px;
    margin-left: 2%;
}

.reviews h5 {
    padding-left: 20px;
    padding-top: 5px;
}

.reviews p {
    font-style: italic;
    padding-left: 20px;
}
.btn-review {
    padding: 10px;
    width: 80%;
    font-size: 18px;
}

/* --------- edit review form (edit-review class) ---------------- */

.edit_review {
    font-size: 14px;
    font-style: italic;
    margin-left: 5px;
    cursor: pointer;
    color:  #3973ac;
}

.edit-review input, .edit-review textarea {
    margin-bottom: 5px;
}

/* ----------- Footer ------------ */
.footer {
    height: 120px;
    border-top: 2px solid #f2f2f2;
    margin-top: 80px;
    width: 90%;
    margin-left: 5%;
}

.footer p {
    font-family: 'Arapey', serif;
    font-style: italic;
    font-size: 20px;
    color: #595959;
    text-align: center;
}

.footer .social_icons {
    padding-top: 15px;
    display: inline-flex;
    width: 20%;
    margin-left: 45%;;
}

.fa-facebook-square,
.fa-instagram,
.fa-twitter {
    font-size: 25px;
    color: #b3b3b3;
    padding: 10px;
    cursor: pointer;
}

.fa-facebook-square:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: #595959;
}

/* ---- past itinerary --- */
.past-trip-page {
    color: black;
}

.past-trip-page .well {
    opacity: 0.8;
}
.past_itinerary {
    padding: 0 30px 20 30px;
}
/*
.past_activities {
    padding-left: 10px;
}*/

/*.past_activities p {
    padding-left: 20px;
}*/


.trip_title {
    border-bottom: 2px solid #cccccc;
}

.edit, .past_itinerary .trip_title span {
    font-size: 14px;
    font-style: italic;
    margin-left: 5px;
    cursor: pointer;
    color:  #3973ac;
}

.past_cities li {
    padding-left: 25px;
    list-style: none;
}

.past_itinerary form.delete{
    float: right;
}

.past_itinerary form a{
    color: red;
}

.past_reviews p {
    font-style: italic;
    padding-left: 25px;
}

.a-tag {
    cursor:pointer;
    display: none;
}

.past_reviews h4, .past_cities h4 {
    font-style: italic;
    border-bottom: solid 1px #cccccc;
    width: 90%;
    padding-bottom: 3px;
    margin-left: 2%;
}

.past_reviews h5 {
    padding-left: 20px;
    padding-top: 5px;
}

.edit__trip,
.hidden-city {
    display: none;
}

/*.edit__trip h3 {
    padding: 8px;
    border-bottom: solid 1px #cccccc;
}*/

.edit-past-activity {
    margin-top: 20px;
    display: none;
    border-bottom: solid 1px #cccccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.add_activity {
    box-shadow: 3px 3px 6px #d9d9d9;
    padding: 35px;
}

.add_activity_button {
    cursor: pointer;
    text-align: center;
}

.add-new-city {
    padding-top: 20px;
}

/*.add_activity button,
.add_city button,
.add-new-city button {
    width: 30%;
    background-color: #79a6d2;
}*/

.past-delete-button {
    border: none;
    background: transparent;
    color: red;
}

.add_new_form_button{
    border: none;
    background: transparent;
    color: black inherit;
    cursor: pointer;
    text-align: center;
}

.add_new_form_button p {
    font-style: italic;
    margin-left: 20px;
}

.back-link {
    cursor: pointer;
}

/* -------add/show classese ---------- */

.show {
    display: block;
}

.hide {
    display: none;
}

.hidden-form {
    display: none;
}

/* ------------ slideshow -------- */
/*.intro_slides{
    display:none;
    overflow:hidden;
}

.intro_slides .my_slides {
    object-fit:cover;
    height: 45%;
    z-index:-1;
}

.intro_slides img {
    width:100%;
    height:45%;
    object-fit: cover;
}
*/

.red {
    color: red;
}

.sign-up-form {
    width: 50%;
    margin: 0 auto;
}

.alert {
    width: 60%;
    margin: 0 auto;
}
