<html>
<body>
    <div class="grid">
        <h1>Just For The Weekend</h1>
		<a href="les.html">
		<div class="cover-image">
            <h3>New York City</h3>
			<img src="https://hd.unsplash.com/photo-1469488865564-c2de10f69f96" alt="LES">
		</div></a>
		<div class="cover-image">
            <h3>Los Angeles</h3>
			<img src="http://36.media.tumblr.com/eca605d546fb8b89348a0ba7b480e8fe/tumblr_nkhl00RmY81qat2iqo1_1280.jpg" alt="Forgtmenot">
		</div>
		<div class="cover-image">
            <h3>New Orleans</h3>
			<img src="http://36.media.tumblr.com/0f5ddd998fd18b8f7babcd3c1e990b3a/tumblr_nz9i70Ueiw1qat2iqo2_1280.jpg" alt="Orchard Street">
		</div>
	</div>
</body>
</html>
