<html>
<body>
    <div class="grid">
		<a href="les.html">
        <a href='/city/12'>
            <div class="cover-image">
                <h3>Boise</h3>
    			<img src="https://hd.unsplash.com/photo-1461978669748-37ff3558b346" alt="Boise">
    		</div>
        </a>
        <a href='/city/8'>
            <div class="cover-image">
                <h3>Dallas</h3>
                <img src="https://hd.unsplash.com/photo-1425421598808-4a22ce59cc97" alt="Dallas">
            </div>
        </a>
        <a href='/city/11'>
            <div class="cover-image">
                <h3>Honolulu</h3>
    			<img src="https://hd.unsplash.com/photo-1469135347280-e1d5fbd8d579" alt="Honolulu">
    		</div>
        </a>
	</div>
</body>
</html>
