<html>
<body>
    <div class="grid">
		<a href="les.html">
        <div class="cover-image">
            <h3>Boise</h3>
			<img src="https://hd.unsplash.com/photo-1461978669748-37ff3558b346" alt="Forgtmenot">
		</div>
        <div class="cover-image">
            <h3>Dallas</h3>
            <img src="https://hd.unsplash.com/photo-1425421598808-4a22ce59cc97" alt="Orchard Street">
        </div>
        <div class="cover-image">
            <h3>Hawaii</h3>
			<img src="https://hd.unsplash.com/photo-1469135347280-e1d5fbd8d579" alt="LES">
		</div></a>
	</div>
</body>
</html>
