<html>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand title" href="/">Trip Planner</a>
            </div>
            <div class="collapse navbar-collapse" id="nav">
    <!-- ================== Search Form ============== -->
                <form action="/search_results" class="navbar-form navbar-left search" method="post">
                   <div class="form-group">
                     <input type="text" class="form-control" name="search_input" placeholder="search">
                   </div>
                   <a href="" type="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
                 </form>
    <!-- ================== login/logout/sighup Form ============== -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href='/logout'>Log Out</a></li>
                    <li><a href='/sign_up'>Sign Up</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <form class="form-inline navbar-form" action='/login' method='post'>
                                    <div class="form-group">
                                        <label>Username:</label>
                                        <input type="text" class="form-control" placeholder="Username" name='username'>
                                    </div>
                                    <div class="form-group">
                                        <label>Password:</label>
                                        <input type="password" class="form-control" placeholder="Password" name='password'>
                                    </div>
                                    <button type="submit" class="btn btn-default">Go</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hero_dashboard">
            <img src="/assets/img/pic1.jpeg">
        </div>
    </nav>
</body>
</html>
