<html>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if current_user == null %}
                    <a class="navbar-brand" href="/">Trip Planner</a>
                {% else %}
                    <a class="navbar-brand" href="/dashboard/{{ current_user.getId }}">Trip Planner</a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="nav">
    <!-- ================== Search Form ============== -->
                <ul class='nav navbar-nav navbar-left'>
                    <li><form action="/search_results" class="navbar-form navbar-left search" method="post">
                        <div class='form-group magnifying'>
                            <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control search-bar" name="search_input" placeholder="Search cities">
                        </div>
                   </form></li>
                </ul>
    <!-- ================== login/logout/sighup Form ============== -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user == null %}
                        <li><a href='/sign_up'>Sign Up</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form class="form-inline navbar-form" action='/login' method='post'>
                                        <div class="form-group">
                                            <label>Username:</label>
                                            <input type="text" class="form-control" placeholder="Username" name='username'>
                                        </div>
                                        <div class="form-group">
                                            <label>Password:</label>
                                            <input type="password" class="form-control" placeholder="Password" name='password'>
                                        </div>
                                        <button type="submit" class="btn btn-default">Go</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="/new_trip/{{current_user.getId}}"><img id='nav-plus' src='/assets/img/plus.svg'> New Trip</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                            <ul class="dropdown-menu account-menu">
                                <li><a href="/pending_trips/{{ current_user.getId }}">Pending Trips</a></li>
                                <li><a href="/past_trips/{{ current_user.getId }}">Past Trips</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href='/logout'>Log Out</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
    </nav>
</body>
</html>
