<html>
<body>
    <div class='container'>
        <h1>Browse</h1>

        <div class="row">
            <div class="col-md-6">
                {% if states is not empty %}
                    {% for state in states %}
                        <h4><a href="#">{{ state }}</a></h4>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-6">
                {% if cities is not empty %}
                    {% for city in cities %}
                        <h4><a href="/city/{{city.getId}}">{{ city.getName }}</a></h4>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
