{%  include 'inc/head-tag.html.twig' %}
<html>
<body>
    <div class-"introduction">
        {%  include 'inc/introduction.html.twig' %}
    </div>
    <div class="hidden-homepage">
        {%  include 'inc/navbar.html.twig' %}
        <div class='container'>
            {% if alert == 'login' %}
                <div class="alert alert-danger text-center">
                    <p><strong>Error!</strong> That username and/or password is not correct. Please try again.</p>
                </div>
            {% elseif alert == 'logout' %}
                <div class="alert alert-success text-center">
                    <p><strong>Success!</strong> You have logged out.</p>
                </div>
            {% endif %}
            <div class='row text-center'>
                <div class="col-sm-12 intro-paragraph">
                    <p>Donec tincidunt mollis pretium. Donec dictum justo vitae auctor volutpat. Maecenas eget ullamcorper dui, pharetra imperdiet neque. Donec sit amet lorem nec lectus condimentum faucibus eu rhoncus mauris. Duis mattis ex ut iaculis ultricies. Aenean eleifend vel nunc blandit finibus. Phasellus vel est sem. Vestibulum lacinia ex quam, euismod suscipit est venenatis nec.</p>
                </div>
                <div class="col-sm-12 index-links">
                    <div class="links">
                        <div class="col-md-6">
                            <h3>Plan a Trip</h3>
                            <p>Sign up or Log in Now</p>
                            <a href='/sign_up' class='btn btn-info'>Plan</a>
                        </div>
                            <div class="col-sm-6">
                            <h3>Browse Cities by State</h3>
                            <p>See what's out there!</p>
                            <a href='/browse' class='btn btn-info'>Browse</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-sm-12 ads">
                    <h1>Just For The Weekend</h1>
                    {%  include 'inc/ads.html' %}
                </div>
                <div class="col-sm-12 ads">
                    <h1>Romantic Getaways</h1>
                    {%  include 'inc/ads.html' %}
                </div>
            </div>
        </div>
    </div>
    {% include 'inc/footer.html' %}
</body>
</html>
