{%  include 'inc/head-tag.html.twig' %}
{%  include 'inc/navbar.html.twig' %}
<html>
<body>
    <div class="container">
        <div class="col-md-6 col-md-6-offset-3 well">
            <h2>Begin a New Journey!</h2>
            <form action="/new_trip/{{user.getId}}" method="post">
                <br>
                <input class="form-control" name="purpose" placeholder="What is this trip for?" type="text">
                <br>
                <input class="form-control" name="description" placeholder="Trip description" type="text">
                <br>
                <button type="submit" class="btn btn-classic center-block">Add Trip</button>
            </form>
        </div>
    </div>
    {% include 'inc/footer.html' %}
</body>
</html>
