{%  include 'inc/head-tag.html.twig' %}
{%  include 'inc/navbar.html.twig' %}
<html>
<body>
    <div class="well">
        <div class="container">
            {% if trips is not empty %}
                {% for trip in trips %}
                    <div class="col-md-3 col-md-3-offset-1">
                        <h4><a href="/past_trip/{{ trip.getId }}">{{ trip.getName }}</a></h4>
                        <p>{{ trip.getDescription }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    {% include 'inc/footer.html' %}
</body>
</html>
