{%  include 'navbar.html' %}
<html>
<body>
    <div class="hero_dashboard">
        <img src="/assets/img/treasure.jpeg">
    </div>
    <div class="navbar_dashboard">
        <ul class="nav nav-pills nav-stacked col-md-3">
            <li role="presentation" class="active"><a href="/past_trips/{{user.getId}}">Past Trips</a></li>
            <li role="presentation"><a href="/pending_trips/{{user.getId}}">Pending Trips</a></li>
            <li role="presentation"><a href="/new_trip/{{user.getId}}">New Trip!</a></li>
        </ul>
    </div>
</body>
</html>
