<html>
<body>
    <div class='container'>
        <h1>Sign up now!</h1>
        <form action="/sign_up" method="post">
            <div class="form-group">
                <label for username="username">Username</label>
                <input type="text" class="form-control" placeholder="username" name="username">
            </div>
            <div class="form-group">
                <label for password="password">Password</label>
                <input type="text" class="form-control" placeholder="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
    </div>
</body>
</html>
