<html>
<body>
    <div class='container'>
        <h1>{{ review.getTitle }}</h1>
        <h2>{{ review.getRating }}</h2>
        <h3>{{ user.getUsername }}</h3>
        <p>
            {{ review.getDescription }}
        </p>
    </div>
</body>
</html>
